html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin:10px;
  
 
 
}

#logo {
  text-align: center; 
  padding-top: 40px; 
  padding-bottom: 40px;
  
}

#logo img {
  width:300px;
}

.hline {
  font-size: 12px; 
  line-height: 18px; 
  border-top: 1px dotted #E5E5E5; 
  width:100%;
}

#header h1{
  margin: 0;
  font-size:20px;
  line-height:26px;
  padding-bottom:28px;
  padding-top:28px;
  color:#222222;
  text-align:center;
  font-weight: normal;
}

#header a{
  text-decoration:none;
  color: #4C87B8;
}


.headerspacer{
  height:15px;
}

.team {
  color: #222222;
  font-size: 16px;
  text-align:left;
  padding-top:0;
  margin-top: 80px;
  margin-left:auto;
  margin-right:auto;
  padding-left:25px;
  

}

.profile {
  float: left;
  height: 130px;
  margin: 0 50px 20px 0;
  position: relative;
  width: 95%;
}

.thumbnail {
 background: none no-repeat scroll center center #FFFFFF;
  border: 1px solid #E5E5E5;
  float: left;
  height: 100px;
  width: 100px;
  border-radius:3px;
  

}

.profile small {
  color: #444444;
  display: block;
  line-height: 20px;
  padding-top: 4px;
}

.profile h4, .profile small {
  margin-left: 120px;
}

.profile small {
  margin-top: -18px;
  font-size:14px;
}

.profile h4 {
  margin-top: -2px;
  font-size:16px;
}

.thumbnail img {
  padding: 5px;
}

.fade {
  opacity: 0; 
  display: inline;
}

a.link {
  background-color: #D4D4D4;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  display: none;
  font-size: 11px;
  left: 120px;
  padding: 0px 5px 0px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: UPPERCASE ;
  top: 75px;
  width:60px;
  height:16px;
  line-height:16px;
  opacity: 0; 
  display: none;


}

a.link:hover {
  background-color: #C5C5C5;
}

.footer, .push {
  height: 64px;
}

.footer {
  
  background: #fff;
  margin:0;
  padding:0;
  min-width:100%;
  font-size: 12px;
  text-align:center;
}

#entrepreneurs {
  padding:0;
  margin-left: 61px;
  margin-right: auto;
  padding-top:10px;
}

#entrepreneurs p {
  font-size:16px;
}

#entrepreneurs a {
  text-decoration:none;
  color: #4C87B8;
}

#contact {
  float:right;
  margin-right:0;
  padding:0;
  margin-top:9px;
}

.news {
  background:red;
  height:20px;
  width:100%;
}

.cleaner {
  clear: both;
  font-size: 1px;
}

.fulltext {
  opacity: 0;
  
  background:#FAFAFA;
  border-radius:3px;
  padding:15px;
  color: #444444;
  margin-bottom:20px;
  font-size:14px;
  line-height: 20px;
  margin-right:0px;
  margin-left:0px;
}

.news-title {
  margin: 0 0px 20px 0px; 
  font-size:16px; 
  text-align:center;
}

.readmore {
  cursor:pointer;
}

.highlights {
  color: #222222; 
  font-size: 12px; 
  line-height: 18px; 
  border-top: 1px dotted #D5D5D5; 
  border-bottom: 1px dotted #D5D5D5; 
  padding: 20px 0 0 0; 
  margin-top: 20px;
}

.highlights a{
  text-decoration:none;
  color: #4C87B8;
}